:root {
  --primary-color: #ff4646;
  --primary-10-color: #3f2d2d;
  --dark-color: #181c29;
  --static-white-color: #ffffff;
  --static-white-40-color: #7f7f7f;
  --static-white-20-color: #555555;
  --tag-purple-color: #4361ff;
  --tag-pink-color: #ff43f7;
  --tag-green-color: #06a44f;
  --content-background-color: #ecf3f8;
  --link-background-color: #ff6b6b;
}
